.imagem
{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imagem-escura
{
  background-color: rgba(0,0,0,0.3);
}
@media (min-width: 767.5px)
{
  .logo-navbar
  {
    height: 50px;
  }
  .menu-navbar
  {
    color: white;
    font-size: 15px;
    font-weight: 300;
  }
  .texto-secao1
  {
    color: white;
    font-size: 35px;
    font-weight: 600;
  }
  .secao1
  {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .texto-secao1-categoria
  {
    color: white;
    font-size: 20px;
  }
  .titulo-secao2
  {
    font-size: 35px;
    font-weight: 400;
  }
  .secao2
  {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .ultimos-card
  {
    height: 200px;
  }
  .titulo-secao3
  {
    font-size: 35px;
    font-weight: 400;
  }
}
@media (max-width: 767.5px)
{
}
